/* Reset some default styles */
body, h1, h2, p, table, th, td {
    margin: 0;
    padding: 0;
}

/* Reset some default styles */
table, th, td {
    border: none;
}

/* Basic styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f0f0f0;*/
    line-height: 1.6;
}

/* Apply these styles to the block-level elements within the body */
body > * {
    margin: 0 auto; /* Center-align block-level elements with equal margins */
    max-width: 70%; /* Limit the maximum width of block-level elements */
}

header {
    display: block;
    font-size: 10; /* this doesn't seem to be doing anything; ideally make dynamic? */
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    padding: 10px;
}

#searchBar {
    margin-bottom: 20px;
    padding: 10px;
    width: 25%; /* Full width */
    display: block; /* Ensure it's a block-level element */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    margin-left: 0;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

/* Define CSS styles for alternating rows */
.event-table tbody tr:nth-child(odd) {
    background-color: white; /* Background color for odd rows */
}

.event-table tr:nth-child(12n+2) {
    background-color: #dcf2df; /* pastel green */
}

.event-table tr:nth-child(12n+4) {
    background-color: #ceecf8; /* pastel blue */
}

.event-table tr:nth-child(12n+6) {
    background-color: #f0e1f4; /* pastel purple */
}

.event-table tr:nth-child(12n+8) {
    background-color: #f8d6e1; /* pastel pink */
}

.event-table tr:nth-child(12n+10) {
    background-color: #fde4cf; /* pastel orange */
}

.event-table tr:nth-child(12n+12) {
    background-color: #f9f9da; /* pastel yellow */
}

/* Set different widths for specific columns */
th:nth-child(1), td:nth-child(1) {
    width: 20%; /* Adjust as needed */
}

th:nth-child(2), td:nth-child(2) {
    width: 35%; /* Adjust as needed */
}

th:nth-child(3), td:nth-child(3) {
    width: 25%; /* Adjust as needed */
}

th:nth-child(4), td:nth-child(4) {
    width: 20%; /* Adjust as needed */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #F5F5F5;
    color: black;
}

/* Responsive adjustments for smaller screens */

/* Media query for tablets */
@media (min-width: 601px) {
    #searchBar {
        width: 25%; /* Tablet and larger devices */
        /* Recalculate the left margin to align with centered content, if necessary */
        margin-left: calc((100% - 70%) / 2);
    }
}

/* Optional: Media query for desktops if different styling is needed */
@media (min-width: 1025px) {
    #searchBar {
        /* Adjustments for desktop, if different from tablets */
    }
}

/* Add other media queries or responsive design rules as needed */