/* Reset some default styles */
body, h1, h2, p, table, th, td {
    margin: 0;
    padding: 0;
}

/* Reset some default styles */
table, th, td {
    border: none;
}

/* Basic styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f0f0f0;*/
    line-height: 1.6;
}

/* Apply these styles to the block-level elements within the body */
body > * {
    margin: 0 auto; /* Center-align block-level elements with equal margins */
    max-width: 70%; /* Limit the maximum width of block-level elements */
}

header {
    display: block;
    font-size: 10; /* this doesn't seem to be doing anything; ideally make dynamic? */
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    padding: 10px;
}

/* Sticky styles */
.sticky {
    position: sticky;
    top: 0; /* Default to the top */
    z-index: 1000; /* Ensure it's above other content */
    background-color: white; /* For visibility */
}

thead.sticky {
    z-index: 999; /* Slightly lower than the search bar to appear beneath */
    /* Don't set top here if you're adjusting it dynamically in JavaScript */
}

/* Other styling */
#searchBarContainer {
    display: flex; /* Flexbox layout to manage children */
    justify-content: flex-start; /* Align children (the search bar) to the left */
    padding: 10px 0; /* Example padding; adjust as needed */
}

#searchBar {
    margin-bottom: 20px; /* Adjust as needed for spacing below the search bar */
    padding: 10px; /* Adjust padding inside the search bar as needed */
    width: 100%; /* Make the search bar fill its container */
    box-sizing: border-box; /* Keep this to include padding in the width calculation */
}

.event-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

/* Define CSS styles for alternating rows */
.event-table tbody tr:nth-child(even) {
    background-color: white; /* Background color for even rows */
}

.event-table tbody tr:nth-child(12n+1) {
    background-color: #dcf2df; /* pastel green */
}

.event-table tbody tr:nth-child(12n+3) {
    background-color: #ceecf8; /* pastel blue */
}

.event-table tbody tr:nth-child(12n+5) {
    background-color: #f0e1f4; /* pastel purple */
}

.event-table tbody tr:nth-child(12n+7) {
    background-color: #f8d6e1; /* pastel pink */
}

.event-table tbody tr:nth-child(12n+9) {
    background-color: #fde4cf; /* pastel orange */
}

.event-table tbody tr:nth-child(12n+11) {
    background-color: #f9f9da; /* pastel yellow */
}

/* Set different widths for specific columns */
th:nth-child(1), td:nth-child(1) {
    width: 16%; /* Adjust as needed */
}

th:nth-child(2), td:nth-child(2) {
    width: 20%; /* Adjust as needed */
}

th:nth-child(3), td:nth-child(3) {
    width: 31%; /* Adjust as needed */
}

th:nth-child(4), td:nth-child(4) {
    width: 21%; /* Adjust as needed */
}

th:nth-child(5), td:nth-child(5) {
    width: 12%; /* Adjust as needed */
}

/* Apply this style to the image */
.event-image {
    display: block;
    margin: 0 auto; /* Horizontally center the image */
    max-width: 100%; /* Ensure the image doesn't overflow the cell */
}

/* Apply hover effect only if the image does not have the 'event-image-enlarged' class */
img.event-image:not(.event-image-enlarged) {
    transition: transform 0.3s ease; /* Smooth transition */
}
  
img.event-image:not(.event-image-enlarged):hover {
    transform: scale(2.3); /* Adjust scale value as needed */
}
  
/* CSS for the clicked/enlarged state */
img.event-image-enlarged {
    transform: scale(2.3); /* Adjust scale value as needed */
    transition: transform 0.3s ease;
    z-index: 100; /* Ensure the image is above other content */
    position: relative; /* May need adjustment based on your layout */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #F5F5F5;
    color: black;
}

/* Responsive adjustments for smaller screens */

/* Media query for tablets */
@media (min-width: 601px) {
    #searchBarContainer {
        /* If your searchBarContainer should still be centered with the rest */
        margin: 0 auto;
        max-width: 70%; /* Match the max-width of the main content */
        box-sizing: border-box; /* Include padding in the width if necessary */
    }
    
    #searchBar {
        /* Adjust the searchBar width as needed, potentially 100% to fill its container */
        width: 27%;
        /* Remove the margin-left calculation that was causing alignment issues */
    }
}

/* Optional: Media query for desktops if different styling is needed */
@media (min-width: 1025px) {
    #searchBarContainer {
        /* Adjustments for desktop, if different from tablets */
    }
}

/* Add other media queries or responsive design rules as needed */